.SideBarChildren {
    display: flex;
}
.ChildrenContent {
    flex: 1;
    background-color: var(--white);
    margin-right: 32px;
    border-radius: 24px;
}
.logo {
    width: 133px;
    height: 58px;
    background: url('../../../../public/logo//insight-05\ 1.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin: 17px 0 0 33px;
}
.ant-layout-sider-children {
    background-color: #f9f6f4;
}
.ant-layout-content {
    margin: 0 !important;
}
