.wrapperTicketCheck {
    // width: 100%;
    // background-color: #fff !important;
    // padding: 24px;
    height: 1080px;
    margin-right: 40px;
    border-radius: 24px;
}
.filterTicketM {
    .checkTicketBTN {
        padding: 11px 24px;
        background: #ff993c;
        border-radius: 8px;
        color: #fff !important;
        display: flex;
        float: right;
        &:hover {
            border-color: initial;
            // outline: none;
        }
    }
}
.filterTicket {
    width: 500px;
    background-color: #fff;
    padding-top: 22px;
    padding-left: 24px;
    border-radius: 24px;
}
.wrapperTicketCheck__ItemOne {
    width: 1097px;
    margin-right: 24px;
    background-color: #fff;
    padding: 24px;
    border-radius: 24px;
}
.filterTicket__title {
    p {
        font-size: 24px;
        font-weight: 700;
    }
}
.statusTicketFilter {
    display: flex;
}
.filterTicket__Item {
    position: relative;
    display: flex;
    margin: 24px 0;
}
.filterTicket__Item__Date {
    position: absolute;
    left: 50%;
}
.filterTicket__Item__Text {
    position: absolute;
    left: 50%;
}
.filterTicket__Item__Radio {
    position: absolute;
    left: 50%;
}
.filterTicket__Item__title {
    p {
        font-size: 16px;
        font-weight: 600;
        color: #1e0d03;
        opacity: 0.8;
    }
}
.ant-space-item {
    .ant-radio-wrapper {
        span {
            + span {
                font-size: 16px !important;
                font-weight: 500 !important;
                color: #1e0d03 !important;
                opacity: 0.7 !important;
            }
        }
    }
}
.filterTicket__Item__Text {
    p {
        font-size: 16px !important;
        font-weight: 500 !important;
        color: #1e0d03 !important;
        opacity: 0.7 !important;
    }
}
