.ant-table-thead {
    tr {
        background-color: #f1f4f8;
    }
}
.ant-pagination-item-link {
    color: #ff993c !important;
}
.ant-pagination-item-active {
    border-color: #ff993c !important;
    a {
        color: #ff993c !important;
    }
}
.tagTable {
    padding: 5px 12px;
    display: flex;
    align-items: center;
    svg {
        width: 8px;
        height: 8px;
        margin-right: 8px;
    }
}
.ant-table-thead {
    tr {
        th {
            font-size: 16px !important;
        }
    }
}
.ant-table-tbody {
    tr {
        td {
            color: #1e0d03;
            opacity: 0.8;
            font-weight: 500;
        }
    }
}
.MinusIcon {
    width: 47px;
    height: 16px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.ant-popconfirm-buttons {
    display: none;
}
.ant-popconfirm-message {
    margin: 0 !important;
}
.ant-popover-inner {
    padding: 8px 16px !important;
}
.titleUpdateTicket {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    p {
        font-size: 24px;
        font-weight: 700;
        color: #1e0d03;
    }
}

.updateTicketContent__item {
    display: flex;
    margin-bottom: 20px;
    div {
        p {
            font-weight: 600;
            font-size: 16px;
            color: #1e0d03;
            opacity: 0.7;
        }
        + div {
            position: absolute;
            left: 142px;
            p {
                font-weight: 500;
                font-size: 16px;
                color: #1e0d03;
                opacity: 0.7;
            }
        }
    }
}
.updateTicketContent__footer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    button {
        padding: 11px 24px;
        width: 160px;
        height: 48px;
        margin-right: 24px;
        border: 1.4px solid #ff993c;
        border-radius: 8px;
        font-weight: 700;
        font-size: 18px;
        color: #ff993c;
        display: flex;
        align-items: center;
        justify-content: center;
        + button {
            color: #fff;
            background-color: #ff993c;
        }
    }
}
.ant-table-cell {
    padding: 10px;
}
